$width: 20, 30, 40, 50, 60, 70, 80, 90, 100;
$padding: 0, 5, 10, 15, 20, 25, 30, 40, 50, 60, 70, 80;
$font: 16, 18, 20, 22, 24, 26, 28, 32, 38, 40;
$em: 2, 3;

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.justify-start{
    justify-content: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-wrap{
    flex-wrap: wrap;
}

.self-center{
    align-self: center;
}
.self-end{
    align-self: flex-end;
}

.flex-center{
    align-items: center;
}

.flex-baseline{
    align-items: baseline;
}

.white{
    color: $white;
}

.green{
    color: $green;
}

.light-black{
    color: $black;
}

.red-rose{
    font-family: 'Red Rose';
    font-weight: bold;
    letter-spacing: 3px;
}

.light{
    font-weight: 400;
}

@each $item in $width{
    .width-#{$item} {
        width: $item * 1%;
    }
}
.width-fit{
    width: fit-content;
}

.margin-auto{
    margin: auto;
}

@each $item in $padding{
    .mx-#{$item} {
        margin-left: $item + px;
        margin-right: $item + px;
    }
}

@each $item in $padding{
    .my-#{$item} {
        margin-top: $item + px;
        margin-bottom: $item + px;
    }
}

@each $item in $padding{
    .px-#{$item} {
        padding-left: $item + px !important;
        padding-right: $item + px !important;
    }
}

@each $item in $padding{
    .py-#{$item} {
        padding-top: $item + px !important;
        padding-bottom: $item + px !important;
    }
}

@each $item in $font{
    .font-size-#{$item} {
        font-size: $item + px;
    }
}

@each $item in $em{
    .font-#{$item}em {
        font-size: $item + em;
    }
}

.size-inherit{
    font-size: inherit;
}
.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.bg-red{
    background-color: $red !important;
}

.bg-green{
    background-color: $green !important;
}

.bg-grey{
    background-color: $grey !important;
}
.bg-light-grey{
    background-color: $tertiaryColor !important;
}

.bg-red:hover, .bg-green:hover{
    background-color: $secondaryColor !important;
}
