$width: 20, 60, 80, 100;
$padding: 5, 10, 15, 20, 40;
$font: 16, 18, 20, 24, 32, 38, 40;

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.justify-start{
    justify-content: flex-start;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-align-baseline{
    align-items: baseline;
}

.white{
    color: $white;
}

.red-rose{
    font-family: 'Red Rose';
    font-weight: bold;
    letter-spacing: 3px;
}

@each $item in $width{
    .width-#{$item} {
        width: $item * 1%;
    }
}
.width-fit{
    width: fit-content;
}

@each $item in $padding{
    .mx-#{$item} {
        margin-left: $item + px;
        margin-right: $item + px;
    }
}

@each $item in $padding{
    .my-#{$item} {
        margin-top: $item + px;
        margin-bottom: $item + px;
    }
}

@each $item in $padding{
    .px-#{$item} {
        padding-left: $item + px;
        padding-right: $item + px;
    }
}

@each $item in $padding{
    .py-#{$item} {
        padding-top: $item + px;
        padding-bottom: $item + px;
    }
}

@each $item in $font{
    .font-size-#{$item} {
        font-size: $item + px;
    }
}