@import url(https://fonts.googleapis.com/css2?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css2?family=Red+Rose);

@import "color";
@import "utils";

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
}

body{
    background-color: $white;
}

.sidebar{
    width: 18%;
    position: absolute;
    top: 45px;
    bottom: 0;
    background-color: $tertiaryColor;
}

.menu-item{
    padding: 20px 20px;
    margin : 4px 0;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
}

.menu-item:hover{
    background-color: $darkGrey;
    color:$white;
}

.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: $grey;
    padding: 8px 16px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.default-button{
    background-color: $tertiaryColor;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
}

.default-button:hover{
    background-color: $darkGrey;
    color: $white;
}

.default-input{
    padding: 5px 10px;
    border: solid 1px $grey;
    border-radius: 8px;
}

a{
    text-decoration: none;
    color:inherit;
}