@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700);
@import url(https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;500;700);

@import "color";
@import "utils";

:root{
    --black: #2c2c2c;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
}

body{
    background-color: $white;
}

.sidebar{
    width: 18%;
    position: fixed;
    height: auto;
    top: 45px;
    bottom: 0;
    background-color: $tertiaryColor;
}

.title-big{
    font-size: 3em;
}

.title{
    font-size: 2em;
}

.title-little{
    font-size: 1.5em;
}

.menu-item{
    padding: 20px 20px;
    margin : 4px 0;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
}

.menu-item:hover{
    background-color: $darkGrey;
    color:$white;
}

.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: $grey;
    padding: 8px 16px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-button{
    background-color: transparent;
    color: $grey;
    padding: 8px 16px;
    border-radius: 16px;
    border: none;
}
.icon-button:hover{
    background-color: $grey;
    color: $white;
}

.default-button{
    background-color: $grey;
    color: $white;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
}

.default-button:hover{
    background-color: $darkGrey !important;
    color: $white;
}

.default-input{
    padding: 8px 16px;
    border: solid 1px $grey;
    border-radius: 8px;
    font-weight: 400;
    resize: none;
}

.default-card{
    padding: 8px 16px;
    border: solid 1px $grey;
    border-radius: 8px;
}

.violet-card{
    background-color: $mainColor;
    padding: 8px 16px;
    border: solid 1px $grey;
    border-radius: 8px;
}

.violet-card:hover{
    background-color: $secondaryColor;
}

.warning{   
    border: solid 1px red;
}

.password-warning{   
    border: solid 1px red;
}
.password-warning::after{
    content: "Password Tidak Sama";
    color: red;
}

.default-input:focus{
    border: solid 1px $grey;
}

a{
    text-decoration: none;
    color:inherit;
}

.call-admin{
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.text-link:hover{
    color: $secondaryColor !important;
}